---
import MetaInfo from "@/components/MetaInfo.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection, render } from "astro:content";
export const prerender = true;

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries
    .filter((entry) => !entry.data.isDraft)
    .map((entry) => ({
      params: { slug: entry.id },
      props: { entry },
    }));
}

const { entry } = Astro.props;
const { Content } = await render(entry);
---

<BaseLayout title={entry.data.title} gap>
  <div class="flex w-full max-w-prose flex-col gap-4">
    <a href="/blog" class="link-hover block no-underline">â† Back</a>
    <MetaInfo
      date={entry.data.publishedDate}
      author={entry.data.author}
      style="subtle"
      transition:name={`blogMeta${entry.id}`}
    />
    <h1 class="text-4xl font-bold" transition:name={`blogHeading${entry.id}`}>
      {entry.data.title}
    </h1>
  </div>
  <article
    class="prose prose-invert max-w-prose"
    transition:name={`blogBody${entry.id}`}
  >
    <Content />
  </article>
</BaseLayout>
