---
import MetaInfo from "@/components/MetaInfo.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const blogEntries = await getCollection("blog");
blogEntries.sort((entry1, entry2) => {
  return (
    entry2.data.publishedDate.getTime() - entry1.data.publishedDate.getTime()
  );
});

function generateExcerpt(body?: string, excerpt?: string) {
  const text = excerpt ?? body ?? "";
  return text.substring(0, 300) + (text.length > 300 ? "..." : "");
}
---

<BaseLayout title="Blog - Jakob.fun" gap>
  <h1 class="text-4xl font-bold">Blog</h1>
  <p>Sometimes I have opinions on things, sometimes I write them down too.</p>

  <ul class="flex w-full max-w-prose flex-col gap-12">
    {
      blogEntries
        .filter((entry) => !entry.data.isDraft)
        .map((entry) => (
          <li>
            <a
              href={`blog/${entry.id}`}
              class="flex flex-col gap-2 transition-transform hover:scale-[1.02]"
            >
              <MetaInfo
                date={entry.data.publishedDate}
                transition:name={`blogMeta${entry.id}`}
              />
              <h2
                class="mb-2 font-bold"
                transition:name={`blogHeading${entry.id}`}
              >
                {entry.data.title}
              </h2>
              <p transition:name={`blogBody${entry.id}`}>
                {generateExcerpt(entry.body, entry.data.excerpt)}
              </p>
            </a>
          </li>
        ))
    }
  </ul>
</BaseLayout>
